/* 전체 틀 */
.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4F5F7;
    width: 100%;
    height: 100vh;
}

/* 제목: 아무 말 대잔치 */
.header {
    width: 1920px;
    height: 104px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titleTop {
    color: black;
    font-size: 32px;
}
/* line */
.line {
    width: 100%;
    size: 1px;
}
/* 하단부 */
.footer {
    width: 1920px;
    height: 976px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}
.title {
    font-weight: bold;
    color:black;
    font-size: 38px;
    margin-bottom: 5px;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px;
    border-radius: 4px;
}
/* 입력박스 - 이미지 */
.imageBox {
    width: 392px;
    height: 206px;
    margin-top: 5px;
    margin-bottom: 1px;
    border-radius: 5px;
}
.imageInput {
    width: 149px;
    height: 149px;
    border-radius: 50%;
    margin-left: 121.5px;
    display: inline-block;
}
.image{
    width: 149px;
    height: 149px;
    border-radius: 50%;
}
.inputTitleImage {
    margin-left: 12px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 1px;
    font-size: 18px;
}
.helperImage {
    margin-left: 12px;
    margin-bottom: 0px;
    margin-top:0px;
    font-size: 15px;
    font-weight: bold;
    color: red;
}
/* 입력박스 - 텍스트 */
.inputBox {
    width: 392px;
    height: 383px;
    padding-top: 2px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin-bottom: 5px;
}
.inputArea {
    width: 355px;
    height: 59px;
    margin-inline: 11px;
    margin-bottom: 3px;
}
.inputTitle {
    margin-left: 1px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.textInput {
    width: 355px;
    height: 33px;
    border: solid;
    margin-top: 0px;
    padding-left: 8px;
    border-width: 1.5px;
    border-radius: 5px;
}
.helperText, .emailHelper, .passwordHelper, .repasswordHelper, .nicknameHelper {
    margin-left: 12px;
    margin-top: 1px;
    margin-bottom: 3px;
    font-size: 12px;
    font-weight: bold;
    color: red;
}
.signinButton {
    width: 361px;
    height: 37px;
    background-color: #ACA0EB;
    color: white;
    border: none;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-left: 15.5px;
}
/* 버튼박스 */
.buttonBox {
    width: 361px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.toLoginButton {
    height: 30px;
    display: flex;
    justify-content: center;
    margin-top: 4px;
    font-size: 17px;
}

